{% extends 'BloggerBlogBundle:Page:layout.html.twig' %}

{% block title %}Add Comment{% endblock%}

{% block sidebar %}
    <h1>Add comment for category!! "{{ category.name }}"</h1>
    {% include 'BloggerBlogBundle:CategComment:form.html.twig' with { 'form': form } %}
{% endblock %}