{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BloggerBlogBundle:Page:layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About symblog</h1>
    </header>
    <article>
        <p>This test task was done using an article from
            <a href = "https://habrahabr.ru/post/301760">here</a> . Author of this article
        is Antoshchenko Vladimir. But it was redisigned  <a href = "https://github.com/Z-Warm/NewBlog">here</a> by me according to
        specification of MassMediaGroup company.</p>
    </article>
{% endblock %}