{# src/Blogger/BlogBundle/Resources/views/Comment/form.html.twig #}
{% block body %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>
        var currurl = '{{ path('BloggerBlogBundle_comment_create' , { 'blog_id' : 1 }) }}';
            $(document).ready(function() {
                $('#commentform').submit( function (response) {
                    var formSerialize = $(this).serialize();
                    $.ajax ({
                        url:currurl,
                        type: "POST",
                        data: formSerialize,
                        dataType: "JSON",
                        beforeSend: function (){
                            $("#information").text ("Waiting for data...");
                        },
                        success: function (data){
							$("#information").text (data);
                        }
                    });
                });
            });    
    </script>
{{ form_start(form, {'attr': {'class': 'blogger', 'id':'commentform'} }) }}
    {{ form_widget(form) }}
<p>
    <input type="submit" value="Submit">
    <div id="information" text ="text"></div>
</p>
{% endblock %}
