{% extends 'BloggerBlogBundle:Page:layout.html.twig' %}

{% block title %}Add category{% endblock%}

{% block body %}
    <h1>Add new category "</h1>
    {% include 'BloggerBlogBundle:Category:form.html.twig' with { 'form': form } %}
{% endblock %}